<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Anthropic.SDK" version="3.2.3" targetFramework="net472" />
  <package id="Anyscale" version="1.0.2" targetFramework="net472" />
  <package id="Azure.AI.OpenAI" version="2.0.0" targetFramework="net472" />
  <package id="Azure.Core" version="1.43.0" targetFramework="net472" />
  <package id="EntityFramework" version="6.5.1" targetFramework="net472" />
  <package id="Google_GenerativeAI" version="1.0.1" targetFramework="net472" />
  <package id="HuggingFace" version="0.2.4" targetFramework="net472" />
  <package id="LangChain" version="0.15.0" targetFramework="net472" />
  <package id="LangChain.Core" version="0.15.0" targetFramework="net472" />
  <package id="LangChain.Databases.Abstractions" version="0.15.0" targetFramework="net472" />
  <package id="LangChain.Databases.InMemory" version="0.15.0" targetFramework="net472" />
  <package id="LangChain.DocumentLoaders.Abstractions" version="0.15.0" targetFramework="net472" />
  <package id="LangChain.Extensions.DependencyInjection" version="0.15.0" targetFramework="net472" />
  <package id="LangChain.Polyfills" version="0.15.0" targetFramework="net472" />
  <package id="LangChain.Providers.Abstractions" version="0.15.0" targetFramework="net472" />
  <package id="LangChain.Providers.Anthropic" version="0.15.0" targetFramework="net472" />
  <package id="LangChain.Providers.Anyscale" version="0.15.0" targetFramework="net472" />
  <package id="LangChain.Providers.Azure" version="0.15.0" targetFramework="net472" />
  <package id="LangChain.Providers.Google" version="0.15.0" targetFramework="net472" />
  <package id="LangChain.Providers.HuggingFace" version="0.15.0" targetFramework="net472" />
  <package id="LangChain.Providers.Ollama" version="0.15.0" targetFramework="net472" />
  <package id="LangChain.Providers.OpenAI" version="0.15.0" targetFramework="net472" />
  <package id="LangChain.Sources.Abstractions" version="0.13.0" targetFramework="net472" />
  <package id="LangChain.Splitters.Abstractions" version="0.15.0" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="9.0.0" targetFramework="net472" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="8.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="8.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection" version="8.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="8.0.1" targetFramework="net472" />
  <package id="Microsoft.Extensions.Http" version="8.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging" version="8.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="8.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Options" version="8.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Options.ConfigurationExtensions" version="8.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Primitives" version="8.0.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.4" targetFramework="net472" />
  <package id="Ollama" version="1.3.2" targetFramework="net472" />
  <package id="Ollama.Models" version="1.3.2" targetFramework="net472" />
  <package id="OpenAI" version="2.0.0" targetFramework="net472" />
  <package id="OpenAI.Constants" version="2.0.9" targetFramework="net472" />
  <package id="Oracle.ManagedDataAccess" version="23.7.0" targetFramework="net472" />
  <package id="Oracle.ManagedDataAccess.EntityFramework" version="23.7.0" targetFramework="net472" />
  <package id="System.Buffers" version="4.6.0" targetFramework="net472" />
  <package id="System.ClientModel" version="1.1.0" targetFramework="net472" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="net472" />
  <package id="System.Diagnostics.DiagnosticSource" version="9.0.0" targetFramework="net472" />
  <package id="System.Formats.Asn1" version="9.0.0" targetFramework="net472" />
  <package id="System.IO" version="4.3.0" targetFramework="net472" />
  <package id="System.IO.Pipelines" version="9.0.0" targetFramework="net472" />
  <package id="System.Memory" version="4.6.0" targetFramework="net472" />
  <package id="System.Memory.Data" version="8.0.0" targetFramework="net472" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.6.0" targetFramework="net472" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net472" />
  <package id="System.Text.Encodings.Web" version="9.0.0" targetFramework="net472" />
  <package id="System.Text.Json" version="9.0.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.0" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
  <package id="Tiktoken" version="1.2.0" targetFramework="net472" />
  <package id="tryAGI.OpenAI" version="2.0.9" targetFramework="net472" />
</packages>